<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                {% comment %} {% if user.is_authenticated %}
                    <ul>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                {% endif %} {% endcomment %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipt</a>
                        <a href="{% url 'create_account' %}">Create Account</a>
                        <a href="{% url 'create_category' %}">Create Category</a>
                        <a href="{% url 'accounts' %}">Accounts</a>
                        {% comment %} <a href="{% url 'home' %}">Receipts</a> {% endcomment %}
                        <a href="{% url 'category' %}">Categories</a>
                    </li>
                {% endif %}
            </nav>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Recipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts  %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
