<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% comment %} <header>
        <nav>

        {% if user.is_authenticated %}
        <ul>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
            </li>

        </ul>
        {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
                <a href="{% url 'create_account' %}">Create Account</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'accounts' %}">Accounts</a>
                <a href="{% url 'home' %}">Receipts</a>
                <a href="{% url 'category' %}">Categories</a>
            </li>

            {% endif %}
        </nav>
        </header> {% endcomment %}
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
