<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                {% comment %} {% if user.is_authenticated %}
                    <ul>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                {% endif %} {% endcomment %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipt</a>
                        <a href="{% url 'create_account' %}">Create Account</a>
                        <a href="{% url 'create_category' %}">Create Category</a>
                        <a href="{% url 'accounts' %}">Accounts</a>
                        <a href="{% url 'home' %}">Receipts</a>
                        <a href="{% url 'category' %}">Categories</a>
                    </li>
                {% endif %}
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in receipt %}
                        <tr>
                            <td>{{ rec.vendor }}</td>
                            <td>{{ rec.total }}</td>
                            <td>{{ rec.tax }}</td>
                            <td>{{ rec.date|date:'m/d/y' }}</td>
                            <td>{{ rec.category.name }}</td>
                            <td>{{ rec.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
